*.class

# Package Files #
*.jar
*.war
*.ear

target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.next
release.properties

*.log

# sbt specific
.cache/
.history/
.lib/
dist/*
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.worksheet